<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="PharmacyApp"
			 connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=PharmacyApp;Integrated Security=True;Connect Timeout=30;Encrypt=True;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
